@import url("https://fonts.cdnfonts.com/css/nike");

@import url("https://fonts.cdnfonts.com/css/american-captain");

* {
  margin: 0;
  font-family: sans-serif;
  font-weight: 800;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.top-nav {
  height: 5vh;
  background-color: #d9d9d9;
}

nav {
  height: 12vh;
  border-bottom: 0.5px solid black;
  overflow: none;
  display: flex;
}

nav img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.logo {
}

.links {
  display: flex;
  width: 1200px;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
  padding-left: 40%;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline  object-fit: cover; ;
}

.icons input {
  padding: 5px;
  margin: 35px;
  border-radius: 15px;
  border: none;
  background-color: #d9d9d9;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  padding-right: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  padding-top: 35px;
  margin-right: 10px;
  cursor: pointer;
}

.hero img {
  height: 85vh;
  object-fit: cover;
  width: 100%;
}

.hero {
  position: relative;
  display: inline-block;
  width: 100vw;
  overflow: hidden;
}

.hero .btn {
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
  background-color: black;
  border-radius: 20px;
  border: none;
  color: white;
}

/* Example placement */
.hero .learn {
  top: 50%;
  left: 50%;
  transition: ease-in-out 0.3s;
}

.hero .shop {
  top: 50%;
  left: 60%;
  transition: ease-in-out 0.3s;
}

.hero .shop:hover {
  background-color: white;
  color: black;
}

.hero .learn:hover {
  background-color: white;
  color: black;
}

.hero h1 {
  bottom: 50%;
  left: 50%;
  position: absolute;
  color: white;
  font-size: 7rem;
  width: 60%;
  font-family: "American Captain", sans-serif;
}

.catologue {
  height: 120vh;
}
