.hspacer {
    width: max(0%, 100%);
}

#page-container {
    min-height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}



#DataSum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 250px;
    right: 300px;
}

#total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 450px;
    right: 300px;
}
